
*
{
    font-family: 'Readex Pro', sans-serif;
}

body
{
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
}

form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

form.verify
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 150px;
}

form.verify .verify-data
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

form.verify label
    {
        font-size: 30px;
        color: rgb(62, 205, 62);
    }

form.verify input
{
    width: 600px;
    height: 60px;
    background-color: transparent;
    box-shadow: 2px 2px 1px white;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    color: white;
}

form.verify input::placeholder
{
    opacity: 75%;
}

form.verify input:focus
{
    outline: none;
    box-shadow: none;
    border: none;
}

@media screen and (max-width: 600px)
{

    h2
    {
        font-size: 20px;
    }

    form 
    {
        margin-top: 100px;
    }

    form.verify label
    {
        font-size: 20px;
        text-shadow: 2px 2px 5px rgb(62, 205, 62);
    }


    form.verify input
    {
        width: 400px;
        height: 50px;
        background-color: transparent;
        box-shadow: 2px 2px 1px white;
        border: 1px solid white;
        border-radius: 10px;
        text-align: center;
        color: white;
    }

    form.verify input::placeholder
    {
        opacity: 75%;
        text-align: center;
    }

    form.verify input:focus
    {
        outline: none;
        box-shadow: none;
        border: none;
    }
}