@{
    ViewData["Title"] = "Landing Page";
}


<link rel="stylesheet" href="~/css/Landing.css?version=1" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="Name">
    <div class="head">X</div><div class="tail">h</div><div class="tail1">a</div><div class="tail2">n</div><div class="tail3">c</div><div class="tail4">e</div>
</div>

<svg class="horizontal-line" width="150px" height="1">
    <line x1="0" y1="0" x2="100%" y2="0" stroke="white" stroke-width="10" />
</svg>

<div class="description">
<p class="FirstHead">An app to write you’re thought easily </p>
<p class="SecondHead">cause we know thought’s make’s the dream come true</p>
</div>


<div class="w3-center">
<a href="/home/main"><button class="landButton">Start</button></a>
</div>