<!DOCTYPE html>
<html>

<head>
    <title>Flask HTML Template</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="First">
        <svg xmlns="http://www.w3.org/2000/svg" width="627" height="530" viewBox="0 0 627 530" fill="none">
            <path d="M0 0H400L627 529.5L0 372.5V0Z" fill="url(#paint0_linear_2142_5)" />
            <defs>
                <linearGradient id="paint0_linear_2142_5" x1="0" y1="0" x2="703" y2="608"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#00FFD1" stop-opacity="0.24" />
                </linearGradient>
            </defs>
        </svg>
    </div>
    <div class="BlockFlow">
        <p class="heading">BlockFlow</p>
        <p>Streamline your day with precision – Plan tasks, allocate time, and achieve productivity seamlessly</p>
        <div class="buttons">
            <a href="/Signup"><button><span>S</span>ignup</button></a>
            <a href="/Login"><button><span>L</span>ogin</button></a>
        </div>
    </div>
    <div class="Second">
        <svg xmlns="http://www.w3.org/2000/svg" width="618" height="529" viewBox="0 0 618 529" fill="none">
            <path d="M617.905 540.362L217.965 533.381L0.24111 -4.73894e-05L624.406 167.919L617.905 540.362Z"
                fill="url(#paint0_linear_2143_7)" />
            <defs>
                <linearGradient id="paint0_linear_2143_7" x1="617.905" y1="540.362" x2="-74.3774" y2="-79.8145"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#00FFD1" stop-opacity="0.24" />
                </linearGradient>
            </defs>
        </svg>
    </div>
</body>

</html>