/* Font families used in this  */
/* font-family: 'Jua', sans-serif; */
/* font-family: 'Readex Pro', sans-serif; */
body {
    overflow-y: hidden;
}

.headImageText {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 200px;
}



.headingText {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Jua;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

    .headingText span {
        color: #000;
        font-family: Jua;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: last baseline;
}

.headText {
    color: #000;
    font-family: Jua;
    font-size: 20px;
    position: relative;
    top: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 100px;
    padding-top: 100px;
}

    .buttons a button {
        width: 250px;
        height: 80px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        background: rgba(255, 255, 255, 0.25);
        color: #000;
        font-family: Readex Pro;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        transition: 0.3s;
    }

        .buttons a button:hover {
            border: none;
            background: linear-gradient(-60deg, #00ffff64, rgba(221, 0, 255, 0.269));
            box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.5);
        }

.ImageButton {
    display: flex;
    flex-direction: row;
    gap: 400px;
}

    .ImageButton img {
        position: relative;
        top: 150px;
    }
