@page
@model ProjectPro.Pages.CreateProjectModel
@{
    ViewData["Title"] = "Create Project";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrjectPro</title>
    <link rel="stylesheet" href="~/css/CreateProject.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <a href="@Url.Page("/Home", new { Id = Model.Id })">
        <button class="BackButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="78" height="38"
                 viewBox="0 0 78 38" fill="none">
                <path d="M1.23223 17.2322C0.255922 18.2085 0.255922 19.7915 1.23223 20.7678L17.1421 36.6777C18.1184 37.654 19.7014 37.654 20.6777 36.6777C21.654 35.7014 21.654 34.1184 20.6777 33.1421L6.53553 19L20.6777 4.85786C21.654 3.88155 21.654 2.29864 20.6777 1.32233C19.7014 0.34602 18.1184 0.34602 17.1421 1.32233L1.23223 17.2322ZM3 21.5H78V16.5H3V21.5Z"
                      fill="white" />
            </svg>Back
        </button>
    </a>
    <div class="Create">
        <p class="head">Create New Project</p>
        <form method="post">
            <div class="data">
                <label>Project Name</label>
                <input type="text" autocomplete="off" asp-for="ProjectName" placeholder="Type name for the task">
            </div>
            <div class="time">
                <label>Select time frame</label>
                <div class="start-end">
                    <div class="start">
                        <label>Start</label>
                        <input type="date" asp-for="StartDate">
                    </div>
                    <div class="end">
                        <label>End</label>
                        <input type="date" asp-for="EndDate">
                    </div>
                </div>
            </div>
            
            <button type="submit" class="CreateButton" @(Model.checkOwner ? "disabled" : "")>
                Create
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <path d="M37.4998 27.0833H27.0832V37.5C27.0832 38.6458 26.1457 39.5833 24.9998 39.5833C23.854 39.5833 22.9165 38.6458 22.9165 37.5V27.0833H12.4998C11.354 27.0833 10.4165 26.1458 10.4165 25C10.4165 23.8542 11.354 22.9167 12.4998 22.9167H22.9165V12.5C22.9165 11.3542 23.854 10.4167 24.9998 10.4167C26.1457 10.4167 27.0832 11.3542 27.0832 12.5V22.9167H37.4998C38.6457 22.9167 39.5832 23.8542 39.5832 25C39.5832 26.1458 38.6457 27.0833 37.4998 27.0833Z"
                          fill="#D99BFF" />
                </svg>
            </button>



        </form>
    </div>
</body>