@page
@model IndexModel
@{
    ViewData["Title"] = "Landing";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectPro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Landing.css" asp-append-version="true">
</head>

<body>
    <div class="head">
        <div class="headImageText">
            <img src="~/Image/Icon.svg" alt="ProjectPro logo" class="IconLogo" />
            <p class="headingText">Project <span>Pro</span></p>
        </div>
        <p class="headText">Master the Art of Real-Time Project Management with Project Pro</p>
    </div>
    <div class="ImageButton">
        <div class="buttons">
            <a href="/Signup"><button>Signup</button></a>
            <a href="/Login"><button>Login</button></a>
        </div>
        <img src="~/Image/LandingPageImage.svg" alt="Landing Page animated image">
    </div>
</body>

</html>