@page
@model ProjectPro.Pages.SeeDetailsModel
@{
    ViewData["Title"] = "See deatils";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectPro</title>
    <link rel="stylesheet" href="~/css/SeeDetails.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<a href="@Url.Page("/Home", new { Id = Model.Id })">
    <button class="BackButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="78" height="38"
             viewBox="0 0 78 38" fill="none">
            <path d="M1.23223 17.2322C0.255922 18.2085 0.255922 19.7915 1.23223 20.7678L17.1421 36.6777C18.1184 37.654 19.7014 37.654 20.6777 36.6777C21.654 35.7014 21.654 34.1184 20.6777 33.1421L6.53553 19L20.6777 4.85786C21.654 3.88155 21.654 2.29864 20.6777 1.32233C19.7014 0.34602 18.1184 0.34602 17.1421 1.32233L1.23223 17.2322ZM3 21.5H78V16.5H3V21.5Z"
                  fill="white" />
        </svg>Back
    </button>
</a>


<!--  getting the members data -->

<p class="head">Members in <span>@Model.ProjectName</span></p>
<!-- Assuming you are within an HTML section of your Razor Page -->
<div class="profile-list">
    @if (Model.profileDataList != null)
    {
        <div class="profile-item-head">
            <p>Image</p>
            <p>Name</p>
            <p>Position</p>
            <p>Task</p>
        </div>
        @foreach (var profileData in Model.profileDataList)
        {
            <div class="profile-item">

                @if (profileData.MemberImage != null && profileData.MemberImage.Length > 0)
                {
                    <!-- Show the image if it exists -->
                    <img src="data:image/png;base64,@(Convert.ToBase64String(profileData.MemberImage))" alt="Profile Image" />
                }
                else
                {
                    <!-- Display a message if no image data exists -->
                    <img src="/Image/DefaultProfileImage.jpg" alt="Default profile image" />
                }
                <p>@profileData.MemberNickname</p>
                <p>@profileData.MemberPosition</p>
                <form method="post">
                    <input type="hidden" value="profileData.Id" name="Id" />
                    <button type="submit">Remove</button>
                </form>
            </div>
        }
    }
    else
    {
        <p>No profile data available.</p>
    }
</div>
