body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {

    font-family: 'Readex Pro', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    margin-top: 0px;
}

form .data {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 10px;
}

form .data label {
    color: #000;
    text-transform: capitalize;
    font-size: 16px;

    font-weight: 600;


    font-family: 'Readex Pro', sans-serif;
}


form .data input {
    width: 600px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

form .data input:focus {
    outline: none;
}

form .data input::placeholder {
    color: rgba(0, 0, 0, 0.50);
    padding-left: 25px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.Second {
    margin-top: -100px;
    margin-left: 900px;
}

form button {
    width: 200px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #000;
    color: #FFF;
    margin-left: 300px;
    font-size: 20px;
    font-style: normal;

    line-height: normal;
    letter-spacing: 0.72px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.heading .heading-1 {
    color: #000;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.50);
    margin-left: -500px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.28px;
}

.heading .heading-2 {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 00px;
}