body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

* {
    font-family: 'Readex Pro', sans-serif;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    z-index: 999;
    margin-left: -800px !important; 
    padding-top: 50px;
}




form .input-data {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    animation-name: fade;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    z-index: 2;
}


form .input-data .inputs {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: left;
    align-items: flex-start;
}

form .input-data .inputs label {
    color: black;
}

form .input-data .inputs input {
    width: 750px;
    height: 100px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: black;
    box-shadow: 0px 2px 0px black;
    transition: 1s;
    text-align: center
}

form .input-data .inputs input::placeholder {
    padding-left: 50px;
    color: black;
    text-align: center;
}

form .input-data .inputs input:focus {
    outline: none;
    box-shadow: none;
    border-color: black;
}




form .input-data .getCode {
    width: 360px;
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    border: none;
    border-radius: 22px;
    box-shadow: 2px 2px 0px white;
    font-size: 18px;
    transition: 0.3s;
}

form .input-data .getCode:hover {
    box-shadow: none;
    background-color: #04FF1D;
}

img.firstImage {
    width: 400px;
    height: 300px;
    float: left;
    margin-top: 0px;
    margin-left: -100px;
}

img.secondImage {
    width: 800px;
    height: 400px;
    float: right;
    position: relative;
    margin-top: -300px;
    margin-right: -300px;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;

    }

    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-right: 200px;
        padding-left: 200px;
        z-index: 1;

    }

    img.firstImage {
        width: 400px;
        height: 300px;
        z-index: 0;
        position: relative;
    }

    img.secondImage {
        width: 800px;
        height: 400px;
        z-index: 0;
        margin-left: 0px;
        position: relative;

    }

    form .input-data .inputs input {
        width: 400px;
        height: 50px;
    }

    form .input-data .getCode {
        width: 250px;
        height: 50px;
        font-size: 15px;
    }
}