@page
@model Enhance.Pages.BidsModel
@{
    ViewData["Title"] = "Bided projects";
}


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/AllProject.css?version=1" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Bids.css?version=1" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&display=swap" rel="stylesheet">
</head>





<img class="FirstImage" src="~/Images/Dashboard1.png" alt="dashboard image" />
<div class="data">
    <div class="main">
        <div class="heading">
            <h3 style="width: 600px;  text-align: center">Projects on which you have bid</h3>
        </div>
        <div class="project">
            <div class="head">
                <div class="price">
                    <h4 style="margin-left: 300px; width: 250px; font-size: 20px; font-weight: bold">See project</h4>
                </div>

                <div class="seeProject">
                    <h4 style="margin-left: 100px; font-size: 20px; font-weight: bold">Price</h4>
                </div>

                <div class="postDate">
                    <h4 style="font-size: 20px; font-weight: bold">Deadline</h4>
                </div>

                <div class="status">
                    <h4>Status</h4>
                </div>

            </div>
        </div>

        @foreach (var project in Model.BidedProjects)
        {
            <div class="project">

                <div class="seeProject">
                    <a href="/UserProjectDetails?Number=@project.Number"><button>Project</button></a>
                </div>

                <div class="price">
                    <p>@project.Bid</p>
                </div>

                <div class="postDate">
                    <p>@project.Duration @project.DurationType</p>
                </div>
                @{
                    string statusText = project.Status == 1 ? "Selected" : "Waiting";
                }
                <div class="status">
                    <span>@statusText</span>
                </div>
                <a href="/Close?Project=@project.Number&User=@project.IdValue">
                    @{
                        string disabledAttribute = project.Status == 0 ? "disabled" : "";
                    }
                    <button style="margin-right: -300px; width: 100px; height: 25px; background-color: transparent; border: none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);" @disabledAttribute>Close</button>
                </a>
            </div>
        }
    </div>
</div>

<img class="SecondImage" src="~/Images/Dashboard2.png" alt="dashboard image" />