@page
@model Enhance.Pages.CloseModel
@{
    ViewData["Title"] = "Close project";
}


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Close.css?version=1" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&display=swap" rel="stylesheet">
</head>

<img src="~/Images/Cube.png" alt="cube image for animations"/>

<div class="Ipfs">
    <form method="post">
        <label>The IPFS CID (Content Identifier) is a special code that uniquely identifies files and directories within the IPFS network. </label>
        <a href="https://docs.ipfs.tech/concepts/content-addressing/"><button class="know">Know about cid</button></a>
        <input type="text" autocomplete="off" placeholder="Enter the cid of the file " asp-for="Cid"/>
        <button type="Submit">Upload</button>
    </form>
</div>