@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    var errorMessage = TempData["ErrorMessage"] as string;
    var stackTrace = TempData["StackTrace"] as string;
}


<h2>Error</h2>
<p>Error Message: @errorMessage</p>
<p>Stack Trace: @stackTrace</p>