@page
@model IndexModel
@{
    ViewData["Title"] = "Landing page";
}



<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Landing.css?version=1" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&display=swap" rel="stylesheet">
   
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
</head>





<div class="top-info">
    <img src="~/Images/Head.png" alt="Top bar image" />
    <div class="info-text">
        <p class="heading">Enhance a platform for the  future freelancer's</p><br />
        <p class="intro">Are you tired of sifting through hundreds of resumes or job postings in search of the perfect match? Our platform is designed to make your search for freelance talent or job opportunities easier than ever.</p>
    </div>

    <div class="button">
        <a href="/Signup"><button class="sign"> Signup </button></a>
        <a href="/Login"><button class="log"> Log in </button></a>
    </div>
</div>

<h3 class="heading-2">The best thing for our client's and freelancer's</h3>

<div class="group">

    <img src="~/Images/Group.png" alt="Image of group of animated peoples" />

    <div class="group-text">
        <h4>Group's</h4>
        <p>At Enhance, we believe in the power of collaboration. That's why we offer group functionality, allowing 3-5 skilled freelancers to come together and form a work force capable of tackling even the most complex projects.</p>
    </div>

</div>

<div class="importance">
    <img src="~/Images/MidImage.png" alt="Imgae showing the importance of the group" />
</div>


<div class="present">
    <h3 class="present-heading">Enhance helps the early freelancers with it’s unique model to upskill fast and get work</h3>

    <div class="first">
        <p>- There’s no bid system for to get project freelancer’s can get work on their fast experience and upgrade their rankings </p>
        <img src="~/Images/benchWork.png" alt="working alone" />
    </div>

    <div class="second">
        <img src="~/Images/demo.png" srcset="together animated image" />
        <p>- Demonstrating you’re expertise on our global board can increase you chances of getting hired and for your first freelancing project</p>
    </div>

    <div class="third">
        <p>- Working with groups will increase you’re ranking and knowledge to do better projects and how to handle client’s and project and work with deadlines</p>
        <img src="~/Images/Idea.png" alt="Idea animated image" />
    </div>
</div>

<div class="importance">
    <img src="~/Images/team.png" alt="Imgae showing the importance of the group" />
    <h4 class="attract">Start you’re freelancing career or get you’re work done with most experienced freelancers </h4>
    <div class="button1">
        <a href="/Signup"><button class="sign1"> Signup </button></a>
        <a href="/Login"><button class="log1"> Log in </button></a>
    </div>
</div>

<div class="need">
    <h4>What we need ?</h4>
    <p>we just need the 1% of whole project value as the process fees to keep the website running </p>
    <div class="money">
        <h3>
            No Bids needed, no subscription
            start for free Now
        </h3>
        <img src="~/Images/MoneyCoin.png" alt="animated image of money" />
    </div>
</div>


