@page
@model Enhance.Pages.MygroupModel
@{
    ViewData["Title"] = "My group page";
}

<head>
    <link rel="stylesheet" href="~/css/AllProject.css?version=1" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Groups.css?version=1" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>



<!-- this here we will show all those people who are the part of the group created by us -->

@foreach(var userApplication in Model.UserApplications)
{
    <p>@userApplication.Nickname</p>
}