@page
@model Enhance.Pages.ShowCidModel
@{
    ViewData["Title"] = "Project Cid";
}


<head>
    <link rel="stylesheet" href="~/css/ShowCid.css?version=1" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<a href="/AllProjects"><button class="backbutton">Back</button></a>


<img src="~/Images/Cube.png" alt="cube image for animation" />
<img class="second" src="~/Images/Cube.png" alt="cube image for animation" />
<img class="third" src="~/Images/Cube.png" alt="cube image for animation" />

<div class="Cid">
    <p class="cidHead">What is cid?</p>
    <p class="cidDesc">unique strings of characters that are associated with a piece of data stored on platforms that use content addressing, like IPFS.</p>

    <ul>
        <li>@Model.Cid</li>
    </ul>
    <form method="post">
        <input type="hidden" name="CidNumber" value="@Model.Number" />
        <input type="hidden" name="FinishedId" value="@Model.UserId" />
        @{
            string disabledAttribute = @Model.Approve == 1 ? "disabled" : "";
        }
        <button type="submit" @disabledAttribute>Approve</button>
    </form>
</div>
