@page
@model Enhance.Pages.SignupModel
@{
    ViewData["Title"] = "Sign up page";
}

<head>
    <link rel="stylesheet" href="~/css/Signup.css?version=1" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>




<form method="post">

    <div class="inputs">
        <label>Enter your Gmail</label>
        <input type="text" placeholder="Enter your gmail" autocomplete="off" name="Email" value="@Model.Email" />
    </div>

    <div class="inputs">
        <label>Enter your Password</label>
        <input type="password" placeholder="Enter your password" autocomplete="off" name="Password" value="@Model.Password" />
    </div>

    <button class="getCode" type="submit">Get code</button>
</form>

<img style="width: 300px; height: 300px; position: relative; margin-top: -175px;" src="~/Images/LoginFirst.svg"/>