@page
@model Enhance.Pages.SkillProjectModel



@{
    ViewData["Title"] = "Add projects and url";
}


<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/css/AddProject.css?version=1" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<form method="post">
    
    <div class="project_name">
        <label>Project Name</label>
        <input autocomplete="off" placeholder="Name of your project" asp-for="Project"/>
    </div>

    <div class="project_url">
        <label>Project Url</label>
        <input autocomplete="off" placeholder="Url of your project" asp-for="Url"/>
    </div>

    <button class="SubmitButton" type="submit">Upload</button>
</form>