@page
@model Enhance.Pages.SkillModel
@{
    ViewData["Title"] = "Skill projects and url";
}


<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="~/css/SkillProject.css?version=1" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div class="main">
    <div class="heading" style="margin-left: auto; margin-right: auto;">
        <p style="font-weight: bolder; font-size: 25px; text-decoration: underline 2px solid black;">Project on this skill</p>
    </div>
    <div class="project">
        <div class="number">
            <p style="font-size: 20px; font-weight: bold;">Number</p>
        </div>
        <div class="name">
            <p style ="font-size: 20px; font-weight: bold; margin-left: -70px;">Project Name</p>
        </div>
        <div class="url">
            <p style="font-size: 20px; font-weight: bold; margin-left: -100px;">Url</p>
        </div>
        
    </div>

    @foreach (var project in Model.Projects)
    {
        <div class="project">
            <div class="number">
                <p>@project.Number</p>
            </div>
            <div class="price">
                <p style="margin-left: 50px; width: 200px;">@project.Project</p>
            </div>
            <div class="postDate">
                <a style="margin-left: -75px;" href="@project.Url">Link</a>
            </div>
        </div>
    }
</div>

<a href="/SkillProject"><button class="w3-center">Add project on this skill</button></a>
